/Part_1/ergasia1_2017.pdf
/Part_1/1.nnLSH.pdf
/Part_1/trajectories_dataset*
/Part_1/results
/Part_2/ergasia2_2017.pdf
/Part_2/2.cluster.pdf
/Part2\ Documentation/
/Part_3/Roads/athens_greece.osm
/Part_3/ergasia3_2017_updated.pdf
/Part_3/3.appli.pdf
/Part_3/Roads/athens.csv
